{% extends "budget/layout.html" %}
{% load static %}

{% block title %}Finanzas personales{% endblock %}

{% block body %}
    <!--Section intro-->
    <section id="intro">
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-12 bg-light">
        <h3>Bienvenidos a la aplicacion de control de presupuesto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu semper diam, eget bibendum mi. Etiam venenatis lectus viverra, congue magna nec, euismod turpis. Quisque hendrerit risus pharetra elit scelerisque, nec molestie nulla facilisis. Phasellus a quam convallis, consectetur elit a, ornare orci. Curabitur tellus odio, egestas vitae dolor et, suscipit venenatis odio. Vivamus enim magna, molestie sit amet ultrices non, ultrices id magna. Nunc nunc ante, ultrices eget diam nec, faucibus iaculis augue. Nunc ornare id elit id lacinia. Sed semper tortor sed leo volutpat iaculis sit amet ac felis. Suspendisse consectetur sed lacus ut eleifend.

            Pellentesque eget lorem et quam imperdiet aliquet. Nam at quam ac velit imperdiet congue. Nullam ante turpis, tincidunt ut nisi ut, sodales viverra leo. In vel ipsum orci. Sed consectetur tempor mi sed viverra. Aenean velit tellus, lobortis vitae quam nec, luctus vulputate justo. Mauris pulvinar tellus ac mi dignissim maximus. Donec sodales sem ut molestie efficitur. Nulla mi eros, pharetra eget ipsum eu, volutpat pretium nulla. In hac habitasse platea dictumst. Nam a luctus sem. Nam sed pellentesque tellus. Aenean pellentesque mi ante, sed rutrum erat commodo vel. Maecenas ut risus egestas, malesuada erat sed, porta arcu.
            
            Aenean sodales tempus orci et hendrerit. Etiam maximus est et leo ultrices, id hendrerit massa malesuada. Donec tincidunt maximus massa. Duis volutpat magna vel nunc luctus auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus accumsan ullamcorper dignissim. Morbi rutrum nec ex luctus pretium. Nulla vehicula ac quam at laoreet. Pellentesque risus justo, cursus a posuere sed, euismod sit amet est. Sed consequat aliquet vehicula. Curabitur gravida justo id magna semper, quis porttitor justo euismod. Integer ut scelerisque felis. Nunc non aliquet sapien. Morbi ut mattis erat, vitae suscipit lectus.
            
            Fusce efficitur risus ut odio interdum viverra. Vivamus vel elit eget ex scelerisque consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec euismod pulvinar pulvinar. Sed vehicula tincidunt purus vitae molestie. Donec laoreet non dolor vitae ullamcorper. Praesent tempor, ligula eu volutpat tincidunt, sapien mi consequat magna, quis vestibulum metus odio id mauris. Donec eu iaculis odio, vel tempus metus. Mauris varius ut tellus nec eleifend. Etiam varius tincidunt maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam a dignissim ligula, vitae elementum libero.
            
            Pellentesque vel laoreet est. Sed maximus sapien non turpis tempus vestibulum. Vivamus vel sapien orci. Cras pharetra eu tellus vel varius. Duis sodales eros in sapien pellentesque, a tempor ligula porttitor. Nulla pharetra ex lorem, non finibus nulla gravida non. Nam in fringilla tortor, a blandit metus. Vivamus nibh velit, viverra non dignissim eu, tincidunt id eros.</p>
            </div>
        </div>
    </section>

    <!--Section Profile-->
    <section id="profile">
        <div class="row mx-5">
            <h2 id="section-title">Perfil {% if profile %} {{ profile.nickname }} {% else %} {{ user }} {% endif %}</h2>
        </div>
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-6 bg-light">
            <!--Error or success message-->
            {% if message %}
                <div class="mb-1 text-danger">{{ message }}</div>
            {% endif %}
            <!--Add nickname-->
            <form action="{% url 'setnickname' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="nickname" class="form-label">¿Cómo te gustaria ser llamado en la app?</label>
                    <input id="nickname" class="form-control" type="text" name="nickname" placeholder="Nickname">
                </div>
                <input class="btn btn-primary" type="submit" value="Cambia tu nickname">
            </form>
            <!--End nickname-->
            <!--Change password-->
            <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3 mt-4">
                    <label for="changepassword" class="form-label">Cambia tu contraseña</label>
                    <input id="changepassword" class="form-control" type="password" name="changepassword" placeholder="Cambia tu contraseña">
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" type="password" name="confirmationpassword" placeholder="Confirma la nueva contraseña">
                </div>
                <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
            </form>
            <!--End change password-->
            </div>
        </div>
    </section>
    <!--Shows main summary transactions per year-->
    <section id="main-summary">
            <!--Form to enter year of transactions-->
            <div id="error-selection-summary" class="alert alert-danger" role="alert"></div>
            <div class="row justify-content-center mb-4 text-center">  
                <div class="col-auto">
                    <h3 class="form-label">Selecciona año</h3>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="select-summary-year" name="year" type="number" min="1900" max="2099" step="1" value="2022" />
                </div>
            </div>
            <!--Table with data-->
            <div class="row justify-content-center mb-4">
                <div class="table-responsive col-8">
                    <table id="main-summary-table" class="table table-bordered border-dark text-start"></table> 
                </div>
            </div>
        <!--Charts-->
        <div id="charts"></div>
    </section>
    <!--end Main summary transactions per year-->

    <!--Show transactions per month-->
    <section id="transactions">
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-6 bg-light">
                <!--Form to input month and year-->
                <div id="error-selection" class="alert alert-danger" role="alert"></div>
                <h3 class="mb-3">Selecciona mes y año</h3>
                <div class="row mb-3">
                    <div class="col-auto">
                        <select class="form-select" name="month" id="select-transaction-month">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" id="select-transaction-year" name="year" type="number" min="1900" max="2099" step="1" value="2022" />
                    </div>
                    <div class="col-auto">
                        <input id="toggle-transacciones-resumen" class="form-control" type="button" value="Resumen mensual"/>
                    </div>
                </div>
                <!--month and year selected title-->
                <div id="transaction-month"></div>
                <!--Form to add new transactions-->
                <form class="row mt-2" id="newTransaction">
                    {% csrf_token %}
                    <!--Add a form below month and year title where you can set all info related to transaction
                    date, category, description, amount-->
                    <div class="row">
                        <div class="col-auto">
                            <label for="transaction-date" class="form-label">Fecha</label>
                            <input class="form-control" type="date" name="transaction-date" id="transaction-date">
                        </div>
                        <div class="col-auto">
                            <label for="transaction-category" class="form-label">Categoria</label>
                            <select class="form-select" name="transaction-category" id="transaction-category">
                                <option value="2">Apps</option>
                                <option value="3">Servicios</option>
                                <option value="4">Otros</option>
                                <option value="5">Alimentos</option>
                                <option value="6">Suplementos</option>
                                <option value="7">Cuidado personal</option>
                                <option value="8">Seguros</option>
                                <option value="9">Limpieza</option>
                                <option value="10">Alquiler</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <label for="transaction-description" class="form-label">Descripción</label>
                            <input class="form-control" type="text" name="transaction-description" id="transaction-description">
                        </div>
                        <div class="col-auto">
                            <label for="transaction-amount" class="form-label">Monto</label>
                            <input class="form-control" type="number" step="0.01" name="transaction-amount" id="transaction-amount">
                        </div>
                        <div class="col-auto">
                            <button class="form-control" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
                <!--transactions per month by category-->
                <table id="table-summary-month-transactions" class="table table-bordered"></table>
                <!--all transactions per day by month-->
                <table id="table-transactions" class="table table-bordered"></table>
            </div>
        </div>
    </section>
    <!--End show transactions per month-->

    <!--Create edit section
    <section id="edit_post">
        <form class="row mt-2" id="update_transaction">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto">
                    <label for="update-date" class="form-label">Fecha</label>
                    <input class="form-control" type="date" name="update-date" id="update-date">
                </div>
                <div class="col-auto">
                    <label for="update-category" class="form-label">Categoria</label>
                    <select class="form-select" name="update-category" id="update-category">
                        <option value="2">Apps</option>
                        <option value="3">Servicios</option>
                        <option value="4">Otros</option>
                        <option value="5">Alimentos</option>
                        <option value="6">Suplementos</option>
                        <option value="7">Cuidado personal</option>
                        <option value="8">Seguros</option>
                        <option value="9">Limpieza</option>
                        <option value="10">Alquiler</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label for="update-description" class="form-label">Descripción</label>
                    <input class="form-control" type="text" name="update-description" id="update-description">
                </div>
                <div class="col-auto">
                    <label for="update-amount" class="form-label">Monto</label>
                    <input class="form-control" type="number" step="0.01" name="update-amount" id="update-amount">
                </div>
                <div class="col-auto">
                    <button class="form-control" type="submit">Actualizar</button>
                </div>
            </div>
        </form>
    </section> -->

{% endblock %}