{% extends "budget/layout.html" %}
{% load static %}

{% block title %}Finanzas personales{% endblock %}

{% block body %}

    <!--Section presupuesto-->
    <section id="presupuesto">
        <div class="row p-5 justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 bg-light">
                <!--form to add budget-->
                <form id="budget-form" class="row mb-4">
                {% csrf_token %}
                <h3 class="fw-bolder">Crea tu presupuesto</h3>
                <h3 class="mb-3">Ingresa la categoria y el monto</h3>
                    <div class="row mb-3">
                        <div class="col-auto">
                            <label for="budget-category" class="form-label">Categoria</label>
                            <select class="form-select" name="budget-category" id="budget-category">
                                <option value="" selected disabled hidden>Selecciona</option>
                                <option id="budget-apps" value="2">Apps</option>
                                <option id="budget-servicios" value="3">Servicios</option>
                                <option id="budget-otros" value="4">Otros</option>
                                <option id="budget-alimentos" value="5">Alimentos</option>
                                <option id="budget-suplementos" value="6">Suplementos</option>
                                <option id="budget-cuidadopersonal" value="7">Cuidado personal</option>
                                <option id="budget-seguros" value="8">Seguros</option>
                                <option id="budget-limpieza" value="9">Limpieza</option>
                                <option id="budget-alquiler" value="10">Alquiler</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="budget-amount" class="form-label">Monto</label>
                            <input class="form-control" type="number" step="0.01" name="budget-amount" id="budget-amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <button class="form-control btn btn-secondary" type="submit">Añadir</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table id="tabla-presupuesto" class="table table-bordered text-start"></table>
                </div>
            </div>
        </div>
    </section>

    <!--Create edit budget section -->
    <div class="modal fade" id="edit-budget" tabindex="-1" aria-labelledby="BudgetLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="BudgetLabel">Actualizar presupuesto</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="update-budget">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container-fluid">
                                    {% include 'budget/includes/messages.html' %}
                                    <h5>Información previa esta precargada</h5>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <label for="update-budget-category" class="form-label">Categoria</label>
                                        <h5 id="update-budget-category"></h5>
                                    </div>
                                    <div class="col-auto">
                                        <label for="update-budget-amount" class="form-label">Monto</label>
                                        <input class="form-control" type="number" step="0.01" name="update-budget-amount" id="update-budget-amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="update-budget-button" class="btn btn-secondary" type="submit">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Section intro-->
    <section id="intro">
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-12 bg-light">
                <h1>Objetivos</h1>
                <p>El objetivo de la aplicación es que puedas registrar tus gastos por dia, por mes y por año y así tengas un control de tus finanzas personales.</p>
                <h1>Funciones</h1>
                <ul>
                    <li>La aplicación te permitira registrar tus transacciones con detalle por día, mes y año, especificar la categoria a la que
                        el gasto pertenece (las categorias permitidas son Apps, Servicios, Otros, Alimentos, Suplementos, Cuidado personal, Seguros,
                        Limpieza y Alquiler), una descripción del gasto y podrás saber la fecha exacta en la que lo ingresaste para tu control.
                    </li>
                    <li>Así mismo, podrás revisar un resumen mensual de los gastos acumulados por cada categoria.</li>
                    <li>En nuestra ventana de resumen, podrás ver un compendio de todos los gastos durante el año por cada categoria, de tal
                        manera que puedas evaluar tu desempeño. Tambien en gráfica de barras podrás visualizar la evolución mensual 
                       del total y en la gráfica de pie podrás ver cuales son las categorias donde más gastas.</li>
                    <li>En la venta de presupuesto, podrás ingresar los montos que te propones gastar por cada categoria. Así podrás hacer una 
                        mejor evaluación de tu desempeño mes a mes y ver si logras ahorrar o no.</li>
                </ul>
                <h1>Metas para el usuario</h1>
                <p>Un buen manejo de tu presupuesto te permitirá lograr tus objetivos de vida ya que unas buenas finanzas nos abren las puertas 
                    a multiples oportunidades de poder ir por nuestros sueños. Roma no se construyo en un dia (ni nuestras finanzas tampoco) por 
                    lo cual el hacer un seguimiento a tus gastos es un hábito que te recomendamos incluyas en tu dia a dia y pronto podras cosechar
                    los beneficios de un buen manejo financiero.</p>
                <h1>Aprende a usar la aplicación</h1>
                <p>A continuación te mostramos un video donde podrás ver, paso a paso, cual es el manejo más óptimo de la aplicación.</p>
                <h4>Donaciones</h4>
                <p>Esta aplicación ha sido desarrollada con mucho amor, si te resulto útil y esta dentro de tus posibilidades donar a nuestra causa,
                    puedes hacerlo en los siguientes links</p>
            </div>
        </div>
    </section>

    <!--Section Profile-->
    <section id="profile">
        <div class="row mx-5">
            <h2 id="section-title">Perfil {% if profile %} {{ profile.nickname }} {% else %} {{ user }} {% endif %}</h2>
        </div>
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-6 bg-light">
            <!--Error or success message-->
            {% if message %}
                <div class="mb-1 text-danger">{{ message }}</div>
            {% endif %}
            <!--Add nickname-->
                <form action="{% url 'setnickname' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="nickname" class="form-label">¿Cómo te gustaria ser llamado en la app?</label>
                        <input id="nickname" class="form-control" type="text" name="nickname" placeholder="Nickname">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Cambia tu nickname">
                </form>
            <!--Change password-->
                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3 mt-4">
                        <label for="changepassword" class="form-label">Cambia tu contraseña</label>
                        <input id="changepassword" class="form-control" type="password" name="changepassword" placeholder="Cambia tu contraseña">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" type="password" name="confirmationpassword" placeholder="Confirma la nueva contraseña">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
                </form>
            </div>
        </div>
    </section>

    <!--Shows main summary transactions per year-->
    <section id="main-summary">
        <div class="row p-5 justify-content-center">
            <div class="col-12 col-md-12 col-lg-12 bg-light">
                <!--Form to enter year of transactions-->
                <div id="error-selection-summary" class="alert alert-danger" role="alert"></div>
                <div class="row justify-content-center mb-4 text-center">  
                    <div class="col-auto">
                        <h3 class="form-label">Selecciona año</h3>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" id="select-summary-year" name="year" type="number" min="1900" max="2099" step="1" value="2022" />
                    </div>
                </div>
                <!--Table with data for expenses per month-->
                <div class="row justify-content-center mb-4">
                    <div class="table-responsive col-8">
                        <table id="main-summary-table" class="table table-fit table-secondary table-striped table-bordered text-start mx-auto"></table> 
                    </div>
                </div>
                <!--Table with data per average anually-->
                <table id="average-summary-table" class="table table-fit table-secondary table-striped table-bordered text-start mx-auto"></table>
                <!--Charts-->
                <div id="charts"></div>
            </div>
        </div>
    </section>

    <!--Show transactions per month-->
    <section id="transactions">
        <div class="row p-5 justify-content-center">
            <div class="col-12 col-md-12 col-lg-8 bg-light">
                <!--Form to input month and year-->
                <div id="error-selection" class="alert alert-danger" role="alert"></div>
                <!--month and year selected title-->
                <div id="transaction-month"></div>
                <h3 class="mb-3">Selecciona mes y año</h3>
                <div class="row mb-3 g-3">
                    <div class="col-auto">
                        <select class="form-select" name="month" id="select-transaction-month">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" id="select-transaction-year" name="year" type="number" min="1900" max="2099" step="1" value="2022" />
                    </div>
                    <div class="col-auto">
                        <input id="toggle-transacciones-resumen" class="form-control btn btn-secondary" type="button" value="Resumen mensual"/>
                    </div>
                </div>
                <!--Form to add new transactions-->
                <form class="row mt-2" id="newTransaction">
                    <h3 class="mb-3">Agrega nueva transacción</h3>
                    {% csrf_token %}
                    <!--Add a form below month and year title where you can set all info related to transaction
                    date, category, description, amount-->
                    <div class="row">
                        <div class="col-auto">
                            <label for="transaction-date" class="form-label">Fecha</label>
                            <input class="form-control" type="date" name="transaction-date" id="transaction-date">
                        </div>
                        <div class="col-auto">
                            <label for="transaction-category" class="form-label">Categoria</label>
                            <select class="form-select" name="transaction-category" id="transaction-category">
                                <option value="2">Apps</option>
                                <option value="3">Servicios</option>
                                <option value="4">Otros</option>
                                <option value="5">Alimentos</option>
                                <option value="6">Suplementos</option>
                                <option value="7">Cuidado personal</option>
                                <option value="8">Seguros</option>
                                <option value="9">Limpieza</option>
                                <option value="10">Alquiler</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2 align-items-center">
                        <div class="col-auto">
                            <label for="transaction-description" class="form-label">Descripción</label>
                            <input class="form-control" type="text" name="transaction-description" id="transaction-description">
                        </div>
                        <div class="col-auto">
                            <label for="transaction-amount" class="form-label">Monto</label>
                            <input class="form-control" type="number" step="0.01" name="transaction-amount" id="transaction-amount">
                        </div>
                    </div>
                    <div class="row mt-3 align-items-center">
                        <div class="col-auto">
                            <button class="form-control btn btn-secondary" type="submit">Enviar</button>
                        </div>
                    </div>
                    
                </form>
                <!--transactions per month by category-->
                <table id="table-summary-month-transactions" class="table table-bordered text-start"></table>
                <!--all transactions per day by month-->
                <div class="table-responsive">
                    <table id="table-transactions" class="table table-bordered text-start"></table>
                </div>
            </div>
        </div>
    </section>
    <!--End show transactions per month-->

    <!-- create edit transaction section-->
    <div class="modal fade" id="edit-transaction" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="ModalLabel">Actualizar transacción</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="update-transaction">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container-fluid">
                                    {% include 'budget/includes/messages.html' %}
                                </div>
                                <h5>Información previa esta precargada</h5>
                                <div class="row">
                                    <div class="col-auto">
                                        <label for="update-date" class="form-label">Fecha</label>
                                        <input class="form-control" type="date" name="update-date" id="update-date" value="{{ transaction.date | date:'Y-m-d' }}">
                                    </div>
                                    <div class="col-auto">
                                        <label for="update-category" class="form-label">Categoria</label>
                                        <select class="form-select" name="update-category" id="update-category" selected="{{ transaction.category.category }}">
                                            <option value="2">Apps</option> 
                                            <option value="3">Servicios</option> 
                                            <option value="4">Otros</option> 
                                            <option value="5">Alimentos</option> 
                                            <option value="6">Suplementos</option> 
                                            <option value="7">Cuidado personal</option> 
                                            <option value="8">Seguros</option> 
                                            <option value="9">Limpieza</option> 
                                            <option value="10">Alquiler</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <label for="update-description" class="form-label">Descripción</label>
                                        <input class="form-control" type="text" name="update-description" id="update-description" value="{{ transaction.description }}">
                                    </div>
                                    <div class="col-auto">
                                        <label for="update-amount" class="form-label">Monto</label>
                                        <input class="form-control" type="number" step="0.01" name="update-amount" id="update-amount" value="{{ transaction.amount | floatformat:'2u' }}">
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="modal-footer">
                        <button id="update-button" class="btn btn-secondary" type="submit">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}