{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="{% static 'budget/styles.css' %}" rel="stylesheet">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!--End Google Fonts-->
    <!--Social media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--End social media icons-->
    <!--Webicons-->
    <script src="https://kit.fontawesome.com/43c3a3cc13.js" crossorigin="anonymous"></script>
    <!--end webicons-->
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light p-4 border-bottom border-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'budget/images/af123_logo.png' %}" alt="logo" class="d-inline-block align-text-top"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--Navbar items-->  
          <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link active fs-2" aria-current="page" href="#">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link fs-2">Bienvenido, {{ user }}</p>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        <!--End Navbar items-->
        </div>
    </nav>
    <!--end Navbar-->
    <!--Section title-->
    <div class="container-fluid p-3">
        <div class="row mx-5">
            <h2 id="section-title">{% block content %}{% endblock %}</h2>
        </div>
    {% include 'budget/includes/messages.html' %}
    </div>
    <!--end Section title-->
    <!--Start body-->
    <div class="container-fluid">
        <div class="row p-5 justify-content-center">
            <div class="col-8 col-md-6 col-lg-6 bg-light">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!--end Body-->
    <!--Start Footer-->
    <div class="container-fluid mt-auto">
        <div class="row px-4 pt-4 justify-content-center">
            <div class="col-5">
                <!--Website, Facebook, Instagram-->
                <ul class="list-group list-group-horizontal justify-content-center">
                    <li class="list-group-item border border-0"><img class="fa-af123" src="{% static 'budget/images/af123_footer.png' %}" alt="footer-logo" href="www.aprendofinanzas123.com"></li>
                    <li class="list-group-item border border-0"><a href="#" class="fa fa-facebook"></a></li>
                    <li class="list-group-item border border-0"><a href="#" class="fa fa-instagram"></a></li>
                    <li class="list-group-item border border-0"><a href="#" class="fa fa-twitter"></a></li>
                </ul>
            </div>
        </div>
        <div class="row p-2 justify-content-center text-center">
            <small class="fs-6">&copy; 2022 Rodrigo Iglesias</small>
        </div>
    </div>
    <!--end Footer-->
    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <!--end Bootstrap JS-->
  </body>
</html>