{% extends "budget/layout.html" %}
{% load static %}

{% block title%}Recupera tu contraseña{% endblock %}

{% block content %}Recupera tu contraseña{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row p-5 justify-content-center">
        <div class="col-8 col-md-6 col-lg-6 bg-light" id="register-form">
            <div class="my-3">
                <p>¿Olvidaste tu contraseña? Ingresa tu email debajo y te enviaremos instrucciones de como recuperarla.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ password_reset_form }}
                <input class="btn btn-primary" type="submit" value="Enviar email">
            </form>
        </div>
    </div>
</div>

{% endblock %}