{% extends "budget/layout.html" %}
{% load static %}

{% block title%}Recupera tu contraseña{% endblock %}

{% block content %}Recupera tu contraseña{% endblock %}

{% block body %}

    <div class="my-3">
        <p>¿Olvidaste tu contraseña? Ingresa tu email debajo y te enviaremos instrucciones de como recuperarla.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ password_reset_form }}
        <input class="btn btn-primary" type="submit" value="Enviar email">
    </form>

{% endblock %}