{% extends "budget/layout.html" %}
{% load static %}

{% block title%}Correo enviado{% endblock %}

{% block content %}Correo enviado{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row p-5 justify-content-center">
        <div class="col-8 col-md-6 col-lg-6 bg-light" id="register-form">
            <div class="my-3">
                <p>Te hemos enviado instrucciones para recuperar tu contraseña en caso exista una cuenta con el email que ingresaste. Deberias recibirlo pronto</p>
                <br>
                <p>Si nos has recibido un email, por favor asegurate de que ingresaste el email con el que te registraste, y revisa tu folder "SPAM".</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}